@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 100px auto;
    background-color: var(--very-dark-blue-main-bg);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

.card {
    margin: auto;
    background-color: var(--very-dark-blue-card-bg);
    display: block;
    width: min(90%, 300px);
    padding: 20px;
    overflow: hidden;
    border-radius: 8px;
    font-family: Outfit;
}

.nft-image img {
    border-radius: 8px;
}

.header {
    font-size: 1.2rem;
    padding-top: 16px;
    color: var(--white);
    font-weight: 600;
}

.nft-bio {
    font-size: 1rem;
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 300;
    color: var(--soft-blue);

}

.price-days-left {
    display: flex;
}

.ethereum {
    display: flex;
    align-items: center;
}

.price {
    color: var(--cyan);
    margin-left: 8px;
    font-size: 1rem;
}

.time {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.days-left {
    margin-left: 8px;
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 1rem;
}


.divider {
    border-bottom: var(--soft-blue);
    padding-top: 16px;
}


.creator {
    display: flex;
    align-items: center;
    padding-top: 16px;

}

.bio-picture {
    max-width: 30px;
    border-color: hsl(0, 0%, 100%);
}

.bio-picture img {
    border: 1px solid white;
    border-radius: 20px;
}

.created-by {
    color: var(--soft-blue);
    font-weight: 300;
    font-size: 1rem;
    padding-left: 12px;
}

.name {
    color: var(--white);
}
